<div class="character-list-container">
   <h2 class="search-header">you searched for...<br><span class="search-query">"{{search}}"</span></h2>
   
    <section class="outer-container">
        {{#each char}}
        <div class="mid-outer-container">
            <div class="container">
            <div class="charName">{{name}}</div> 
                <div class="portal-container"> 
                    <img class="portal" src="assets/portal3.png">
                    <img class="jerry" src="{{image}}">
                <div class="shadow"></div>
                </div>  
            </div>
            <div class="info-container">
                <ul>
                    <li><b>Species:</b> {{species}}</li>
                    <li><b>Location:</b> {{location.name}}</li>
                    <li><b>Origin:</b> {{origin.name}}</li>
                    <li><b>Episodes:</b> 
                        <ul>
                            {{#each episode}}
                            <li>{{epMatch this}}</li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
   {{/each}}
    </section>
    <div class="search-again"><a href="/">search again!</a></div>
</div>